.today-objective-chart-container {
  background-color: #fbfbfb;
  border-radius: 5px;
  position: relative;
}
.score-title {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 9%;
  left: 30px;
  margin: 0;
}
.score-text-container {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 33%;
}
.score-quantity {
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
.score-text {
  color: #74798c;
  font-weight: 500;
  line-height: 18px;
  width: 40%;
  margin: 8px auto;
}
