.profile-title {
  font-size: 48px;
  margin: 60px 0 0 225px;
}
.profile-name {
  color: red;
}
.all-charts-container {
  width: 58%;
  margin-left: 225px;
  position: relative;
}
.activity-chart {
  background-color: #fbfbfb;
  width: 100%;
  height: 260px;
  margin-top: 130px;
  padding: 30px 0;
  position: relative;
  border-radius: 5px;
}
.triple-charts {
  margin-top: 20px;
  width: 100%;
  height: 263px;
  display: flex;
  gap: 30px;
}
.sessions-chart,
.performance-chart,
.today-objective-chart {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 30%;
  height: 100%;
}
