.sessions-chart-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.sessions-chart-container .custom-tooltip {
  font-size: 8px;
  text-align: center;
  width: 40px;
  padding: 5px 0;
  background-color: white;
}
.sessions-chart-title {
  color: white;
  opacity: 0.4;
  line-height: 24px;
  width: 66%;
  margin: 25px 30px;
  position: absolute;
}
