.activity-chart-container .custom-tooltip {
  background-color: red;
  color: white;
  font-size: 8px;
  text-align: center;
  width: 40px;
  padding: 5px 0;
}
.activity-chart-container .recharts-legend-item-text {
  font-size: 14px;
  font-weight: 500;
}
.activity-chart-title {
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
  position: absolute;
  margin: 30px;
}
